:root {
  /* Sky (Light Blue-Grey) */
  --sky-50: oklch(0.95 0.02 220);
  --sky-100: oklch(0.9 0.03 220);
  --sky-200: oklch(0.85 0.04 220);
  --sky-300: oklch(0.8 0.045 220);
  --sky-400: oklch(0.78 0.05 220); /* Base */
  --sky-500: oklch(0.7 0.05 220);
  --sky-600: oklch(0.6 0.05 220);
  --sky-700: oklch(0.5 0.04 220);
  --sky-800: oklch(0.4 0.03 220);
  --sky-900: oklch(0.3 0.02 220);
}
